<div class="row">
<div id="carousel-emoticon" class="carousel slide" data-ride="carousel">

  <div class="carousel-inner">
    <div class="item active">
      <div style="background-color:#000099;height:200px;" ><span class="glyphicon glyphicon-star"></span></div>
    </div>
    <div class="item">
      <div style="background-color:#009900;height:200px;" ><span class="glyphicon glyphicon-star"></span></div>
    </div>
    <div class="item">
      <div style="background-color:#990000;height:200px;" ><span class="glyphicon glyphicon-star"></span></div>
    </div>
  </div>


  <!-- Controls -->
  <a class="left carousel-control" href="#carousel-emoticon" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left"></span>
  </a>
  <a class="right carousel-control" href="#carousel-emoticon" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right"></span>
  </a>
</div>
</div>

<div class="row">
<div id="carousel-question" class="carousel slide" data-ride="carousel">

  <div class="carousel-inner">
    <div class="item active col-xs-12">
      <div style="height:200px;text-align:center">
        How are you feeling?
      </div>
    </div>
    <div class="item col-xs-12">
      <div style="height:200px;text-align:center;">
        What are you doing today?
      </div>
    </div>
    <div class="item col-xs-12">
      <div style="height:200px;text-align:center;">
        Anything new?
      </div>
    </div>
  </div>

  <!-- Controls -->
  <a class="left carousel-control" href="#carousel-question" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left"></span>
  </a>
  <a class="right carousel-control" href="#carousel-question" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right"></span>
  </a>
</div>
</div>

<div class="row">
  <div>&nbsp;</div>
  <div class="col-xs-12" style="text-align:center;vertical-align:middle;">
    <span class="glyphicon glyphicon-comment" style="font-size:48px;"></span>
  </div>
</div>
