
<div class="row" style="height:33%;">
  <div id="carousel-emoticon" class="carousel slide" data-ride="carousel">

    <div class="carousel-inner">
      <div class="item active" style="background-color:#EC008C;">
        <span class="glyphicon glyphicon-star"></span>
      </div>
      <div class="item" style="background-color:#FFD602;">
        <span class="glyphicon glyphicon-star"></span>
      </div>
      <div class="item" style="background-color:#BED02F;">
        <span class="glyphicon glyphicon-star"></span>
      </div>
      <div class="item" style="background-color:#A6DBD2;">
        <span class="glyphicon glyphicon-star"></span>
      </div>
    </div>

    <!-- Controls -->
    <a class="left carousel-control" href="#carousel-emoticon" data-slide="prev">
      <span class="glyphicon glyphicon-chevron-left"></span>
    </a>
    <a class="right carousel-control" href="#carousel-emoticon" data-slide="next">
      <span class="glyphicon glyphicon-chevron-right"></span>
    </a>
  </div>
</div>

<div class="row" style="height:33%;">
  <div id="carousel-question" class="carousel slide" data-ride="carousel">

    <div class="carousel-inner" style="background-color:#16C1F3;">
      <div class="item active">
        <p>
          How are you feeling?
        </p>
      </div>
      <div class="item">
        <p>
          What are you doing today?
        </p>
      </div>
      <div class="item">
        <p>
          Anything new?
        </p>
      </div>
    </div>

    <!-- Controls -->
    <a class="left carousel-control" href="#carousel-question" data-slide="prev">
      <span class="glyphicon glyphicon-chevron-left"></span>
    </a>
    <a class="right carousel-control" href="#carousel-question" data-slide="next">
      <span class="glyphicon glyphicon-chevron-right"></span>
    </a>
  </div>
</div>

<div id="post-item" class="row">
  <div class="col-xs-12">
    <span class="glyphicon glyphicon-comment"></span>
  </div>
</div>
