/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

html,body {
  height: 100%;
}

#carousel-emoticon .item{
  font-size:8em;
  text-align:center;
}

#carousel-question .item {
  text-align:center;
  font-size:2.5em;
}

#post-item {
  background-color:#FFD602;
  height:33%;
}

#post-item div {
  height:100%;
  text-align:center;
  font-size:8em;
}
